body {
	background: #6b6b6b;
}
.container-cards::-webkit-scrollbar {
	width: 10px;
}
.container-cards::-webkit-scrollbar-thumb {
	background: #1b1b1b;
	border-radius: 10px;
}
.container-cards {
	height: 550px;
	overflow: auto;
}
.text-area {
	max-height: 100px;
}

